/* src/styles/header.css */

/* Conteneur du header */
.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-primary);  /* Couleur principale */
    color: white;
    position: relative;
    z-index: 10;  /* Assurer que le header reste au-dessus du menu */
  }
  
/* Logo */
.logo {
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo img {
    width: 40px; /* Vous pouvez ajuster cette taille selon votre préférence */
    height: 40px;
  }
  
  /* Effet sur le logo au survol */
  .logo:hover img {
    filter: brightness(1.5);
  }
  
  /* Titre au centre */
  .title {
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 1;
    font-family: var(--font-family); /* Appliquer la nouvelle police */
  }
  
  /* Menu hamburger à droite */
  .menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 30px;
  }
  
  .line {
    width: 100%;
    height: 4px;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  /* Animation du menu hamburger quand ouvert */
  .line.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .line.open:nth-child(2) {
    opacity: 0;
  }
  
  .line.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  /* Menu latéral */
  .side-menu {
    position: fixed;  /* Rendre le menu fixe */
    top: 0;
    right: 0;
    height: 100%;
    background-color: var(--color-secondary);  /* Couleur secondaire */
    width: 250px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 0;  /* Le menu doit être au-dessus du header */
  }
  
  /* Liste des items du menu */
  .side-menu ul {
    list-style-type: none;
    padding: 0;
    color: white;
  }
  
  /* Style des éléments de menu */
  .side-menu li {
    margin: 1rem 0;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  /* Effet de survol sur les items de menu */
  .side-menu li:hover {
    background-color: var(--color-tertiary); /* Utiliser la couleur d'accentuation */
    padding: 0.5rem;
    border-radius: 5px;
  }
  