/* src/styles/main.css */
@import './variables.css';

body {
  font-family: var(--font-family); /* Appliquer la police moderne */
  background-color: var(--color-background);  /* Fond général du site */
  color: var(--color-text); /* Couleur des textes sur le site */
  margin: 0;
  padding: 0;
}

/* Exemple d'une couleur pour les titres ou autres éléments */
h1, h2, h3 {
  color: var(--color-primary); /* Utiliser la couleur principale pour les titres */
}
