/* src/styles/variables.css */
:root {
  --font-family: 'Poppins', sans-serif;
  --primary-color: #6F2232; /* Rouge principal */
  --secondary-color: #4E4E50;
  --tertiary-color: #C3073F; /* Rouge plus clair */
  --header-background: #333333;  /* Gris sombre pour le header */
  --background-color: #F2F2F2; /* Couleur de fond générale */
  --side-menu-background: rgba(195, 7, 63, 0.9);  /* Menu rouge translucide */
  --shadow-color: rgba(0, 0, 0, 0.15); /* Ombre douce */
  --highlight-light: #FF6F61; /* Rouge clair pour l'effet lumineux */
}
