/* src/styles/variables.css */
:root {
  /* Police moderne et lisible */
  --font-family: 'Poppins', sans-serif;

  /* Couleurs */
  --color-primary: #C3073F;  /* Couleur dominante du site */
  --color-secondary: #6F2232; /* Couleur secondaire */
  --color-tertiary: #950740;  /* Couleur d'accentuation */
  --color-background: #1A1A1D; /* Fond principal du site */
  --color-text: #4E4E50; /* Couleur des textes */
}
