body::-webkit-scrollbar {
    display: none;
}
  

body {
    width: 99.9vw;
    height: 120vh;
    margin: 0;
    padding: 0;
}


.fishtiles{
    position: absolute; /* Position absolue par rapport à .container */
    top: 3vh;
    left: 0;
    width: 40%;
    height: 60%;
    margin-top: 3%;
    margin: 3% 28% 0 28%;
    display: flex;
    border-right: solid 2px black;
    z-index: 10; 
    background-color:  rgba(#45a049af);
    
}

.tiles{
    width: 20%;
    height: 100%;
    border-left: solid 2px black;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: rgba(122, 166, 255, 0.19);
}

#boxImg {
    background-color: yellow;
    width: 80%;
    height: 20%;
    border: solid 1px black;
    border-radius: 5px;
    position: absolute;
    transition: top 0.05s linear;
}
.boxImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


.score {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
    position: absolute; /* Position absolue par rapport à .container */
    top: 0;
    left: 44vw;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    z-index: 10;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: none; /* Caché par défaut */
}

#popup.hidden {
    display: none; /* Utilisation uniforme avec JavaScript */
}


#popup p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#popup button {
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#popup button:hover {
    background-color: #45a049;
}
.background {
    height: 100vh;
    display: flex;
    position: relative; 
    flex-direction: column;
    justify-content: flex-start; /* Pour éviter de superposer les images */
    align-items: center; /* Pour centrer les images */
    overflow: hidden; /* Empêche le débordement si l'image est trop grande */
}

.imgBackground1,
.imgBackground2 {
    width: 100%; /* S'assure que l'image occupe toute la largeur de l'écran */
    height: auto; /* La hauteur s'ajuste automatiquement en fonction du ratio d'aspect */
    object-fit: cover; /* Permet de couvrir toute la zone sans déformation et en gardant le ratio */
    object-position: center center; /* Centre l'image dans l'élément */
}

.imgBackground1 {
    height: 17vh; /* Fixe la hauteur pour la première image */
}

.imgBackground2 {
    height: 66vh; /* Fixe la hauteur pour la deuxième image */
}

